<div class="container">
    <div class="row">
        <div class="col">
            <div class="card dashboard-post">
                <div class="card-header">
                    <h4 class="card-title"><a href="/post/{{id}}" class="link">{{title}}</a></h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{content}}</p>
                    <p class="card-text">Posted by <span class="post-username strong">{{user.username}}</span> on {{format_date created_at}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
